<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ANH NGUYEN PORTFOLIO</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="../css/custom.css">
</head>

<body>
	<div class="container-fluid">
		<!-- Header Start -->
		<div class="col-xs-12 col-sm-12 col-lg-12 header">
			<div class="profile-name">ANH NGUYEN PROFILE</div>
			<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" id="menu">Menu</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-custom">
						<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Skills</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
			<div class="social-icon">
				<a class="btn btn-social btn-linkedin"
					href="https://www.linkedin.com/in/anh-nguyen-24b107a2/"
					target="_blank"> <i class="fa fa-linkedin-square"></i>
				</a> <a class="btn btn-social btn-github"
					href="https://github.com/anhit07" target="_blank"> <i
					class="fa fa-github-square"></i>
				</a>
			</div>
		</div>

		<!-- Header End -->
		<!-- Site Content Start -->
		<div class="container site-content" style="border-bottom: 1px solid  #ebebeb;box-sizing:border-box;">
			<!-- <div class="col-xs-12 col-sm-12 col-lg-12" 
			style="border: 1px solid gray; height: 1000px; box-shadow: 2px 2px 2px #888888;">
				<img src="../images/growth2.jpg" class="img-responsive header-img">
				
			</div> -->
			<div class="col-xs-12 col-sm-5 col-lg-3">
				<img src="../images/profile_image.jpg"
					class="img-responsive profile-img ext-center">
			</div>
			<div class="col-xs-12 col-sm-7 col-lg-9"
				style="background-color: white; margin-top: 100px;margin-bottom: 30px;padding-left: 5px">
				<h1 style="font-family: Roboto Slab;font-size: 56px;color: #3b3b3b;line-height: 1.2em;margin-top: 0px">Full Stack Web Developer</h1>
				<h3 style=" color:#919191;line-height: 130%">With over 3 years of hands-on experience efficiently
					coding websites and applications, delivered
					engaging web designs with user-friendly user interfaces that were
					cross-browser compatible and mobile responsive at TMA Solutions.</h3>
			</div>
			<!-- Left Area - Site Identity Start-->

			<!-- 	<div class="col-xs-12 col-sm-3 col-lg-3" style="margin-top: 30px">

				<div>
					<h3 style="font-weight: bold;">Key Competencies</h3>
					<p>Front-End Scripting: HTML5, CSS3, JavaScript, JQuery, JSON
						and Ajax</p>
					<p>Back-End Scripting: JSP, JSF, JDBC, Hibernate, Struts,
						Spring, and PHP</p>
					<p>Database Language and Management System: SQL, PL/SQL, MySQL
						and Oracle</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-lg-9"
				style="background-color: blue; height: 400px; margin-top: 30px"></div> -->
			<!-- Left Area - Site Identity End-->
		</div>
		<!-- Site Content End -->
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

		})
	</script>
</body>