<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ANH NGUYEN PORTFOLIO</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="../css/custom.css">
</head>

<body>
	<div class="container-fluid">
<!-- Header Start -->
		<div class="col-xs-12 col-sm-12 col-lg-12 header">
			<div class="profile-name">ANH NGUYEN PROFILE</div>

			<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" id="menu">ANH NGUYEN PROFILE</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-custom">
						<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Skills</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
<!-- /.navbar-collapse -->
			</nav>
			<div class="social-icon">
				<a class="btn btn-social btn-linkedin"
					href="https://www.linkedin.com/in/anh-nguyen-24b107a2/"
					target="_blank"> <i class="fa fa-linkedin-square"></i>
				</a> <a class="btn btn-social btn-github"
					href="https://github.com/anhit07" target="_blank"> <i
					class="fa fa-github-square"></i>
				</a>
			</div>
		</div>
<!-- Header End -->

<!-- Site Content Start -->
		<div class="container">
	<!-- Introduction Start-->
			<div class="col-xs-12 col-sm-12 col-lg-12 top-fading_corner">
				<img src="../images/fading_corner.png" class="img-responsive">
			</div>
		 	<div class="row summary" >
				<div class="col-xs-12 col-sm-3 col-lg-3 text-center">
					<img src="../images/profile_image.jpg" class="img-responsive profile-img">
				</div>
				<div class="col-xs-12 col-sm-9 col-lg-9 introduction text-center">
					<h1>Full Stack Web Developer</h1>
					<h3>Hands-on experience efficiently coding Web-based applications, 
					delivered user-friendly user interfaces that were cross-browser compatible
					and mobile responsive at TMA Solutions.</h3>
				</div>
			</div>
	<!-- Introduction End -->
	<div class="row split-line"></div>

	<!-- What I do Start-->
			<div class="row" id="skill-set">
				<div class="col-xs-12 col-sm-12 col-lg-12 text-center title">
					<h2>My Expertise</h2>
					<h3>I can develop for all layers of website developing architecture</h3>
					<a href="#" class="btn myBtn btn-lg" role="button">See my work</a>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg-4 text-center skill-group">
					<img class="img-responsive skill-img-frontend">
					<p class="skill-name">Front-end Development</p>
						
						<p class="skill-details">I design in the browser with HTML(5), CSS(3)
						and a touch of JavaScript, especially strong expertise in JQuery, JQuery Mobile, 
						JSON and Ajax . I love coding things from scratch, 
						but I can work with front-end frameworks like AngularJS and Bootstrap too.</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg-4 text-center skill-group">
					<img class="img-responsive skill-img-backend">
					<p class="skill-name">Server side Scripting</p>
						
						<p class="skill-details">I have over three years of experience in Back-End Web Developing 
						technologies using Java-based frameworks like Spring and Hibernate and scripting in PHP as well. 
						I am also familar with building Web Server and Restful Services using Node.js</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg-4 text-center skill-group">
					<img class="img-responsive skill-img-database">
					<p class="skill-name">Database Programming</p>
						
						<p class="skill-details">I have a strong expertise in the relational database languages 
						SQL and PL/SQL in database systems Oracle and MySql such as writing scripts, procedures, and queries. 
						I am also exploring NoSQL and using MongoDB in my personal projects</p>
				</div>
			</div>
	<!-- What I do End-->
			<div class="row split-line"></div>
			<div class="row" id="contact-info">
				<div class="col-xs-12 col-sm-12 col-lg-12 text-center title" style="margin-bottom: 40px">
					<h2>Contact Information and Hours</h2>
					<h3>I'm currently looking for new opportunities in Web Development
						and <br/> I would love to hear about yours. 
						Please take a few minutes to tell me about it.
					</h3>
					<a href="#" class="btn myBtn btn-lg" role="button" 
					style="margin-bottom: 0px">Send me a message</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-12 text-center">
					<div class="contact-detail">
						Email: <a href="#">anhit07@gmail.com</a> 
						<br/>Phone:  <a href="tel:1-647-824-9078">1-647-824-9078</a>
						<br/>Toronto, Ontario, Canada
						<br/>Monday - Friday: 9am - 7pm 
						<br/>Saturday: 9am - 5pm
					</div>
				</div>
		</div>
<!-- Site Content End -->
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

		})
	</script>
</body>