.container-fluid {
	padding: 0px;
}
/* Header */
.header {
	background-color: black;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	box-shadow: 2px 5px 5px #888888;
}

.social-icon>a {
	padding: 0px;
	margin-right: 10px
}

.social-icon a>i {
	font-size: 36px;
	color: #BFE34F
}

/* NAV BAR */
.navbar-custom {
	margin-bottom: 0px;
}

.navbar-custom,.navbar-collapse {
	background-color: black;
	color: white;
	border: 0px;
}

.navbar-custom .navbar-header {
	background-color: black;
}

.navbar-custom .navbar-brand {
	color: #BFE34F;
	font-size: 1em;
	font-weight: bolder;
	background-color: black;
}

.navbar-custom .navbar-toggle {
	background-color: #BFE34F;
	border-color: #BFE34F;
}

.navbar-custom .icon-bar {
	background-color: #BFE34F;
}

.navbar-custom .navbar-nav>li>a {
	color: white;
	font-weight: bold;
}

.navbar-custom .navbar-nav>.active>a {
	color: white;
	background-color: #8EBD00;
}

.navbar-custom .active a {
	background: #8EBD00 !important;
}

.navbar-custom .navbar-nav>li>a:hover,.navbar-custom .navbar-nav>li>a:focus,.navbar-custom .navbar-nav>.active>a:hover,.navbar-custom .navbar-nav>.active>a:focus,.navbar-custom .navbar-nav>.open>a,.navbar-custom .navbar-toggle:hover,.navbar-custom .navbar-toggle:focus
	{
	color: #ffffff;
	text-decoration: none;
	background-color: #BFE34F;
}

.nav {
	box-shadow: none;
}

.navbar {
	box-shadow: none;
}

.navbar .navbar-collapse {
	box-shadow: none;
}

.navbar .navbar-nav {
	box-shadow: none;
}

.navbar-default {
	box-shadow: none;
}

.top-fading-corner {
	position: absolute;
	margin: 0 auto;
	margin-top: 100px;
}

.top-fading-corner-rotate {
	position: relative;
}
/* Content */
.summary {
	margin-top: 150px;
	margin-left: 50px;
	padding-right: 20px;
}

.summary .profile-img {
	margin: auto;
}

.summary>.introduction {
	padding-left: 20px
}

.summary>.introduction>h1 {
	font-family: Roboto Slab;
	font-size: 3.9em;
	color: #3b3b3b;
	line-height: 1.2em;
	margin-top: 0px
}

.summary>.introduction>h3 {
	color: #919191;
	font-size: 2.1em;
	line-height: 130%;
}

.split-line {
	border-bottom: 1px solid #ebebeb;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

/* Skills set */
#skill-set,#contact-info, #project-list{
	width: 100%;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#skill-set .title h2,#contact-info .title h2, #project-list .title h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	color: #3b3b3b;
	line-height: 1.2em;
	color: #2A3A3F;
	font-weight: bolder;
	margin-top: 10px;
}

#skill-set .title h3,#contact-info .title h3, #project-list .title h3{
	font-family: 'Montserrat', sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	color: #93a4aa;
	margin-bottom: 10px;
}

.myBtn {
	padding-left: 30px !important;
	padding-right: 30px !important;
	margin-top: 10px;
	margin-bottom: 80px;
	border-radius: 200px;
	border: 1px #eb9316 solid;
	color: #2A3A3F;
	outline: 0;
	box-shadow: 1px 2px 2px #888888;
}

.myBtn:hover {
	border: 1px #2A3A3F solid;
	color: #F8B506;
	background: #2A3A3F;
	outline: 0;
	box-shadow: 2px 5px 5px #888888;
}

#skill-set .skill-img-frontend {
	width: 128px;
	height: 128px;
	box-sizing: border-box;
	background: url(../images/icons/frontend-scripting-lg.png) left top
		no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	box-shadow: 1px 2px 5px 5px #888888;
}

#skill-set .skill-img-backend {
	width: 128px;
	height: 128px;
	box-sizing: border-box;
	background: url(../images/icons/backend-scripting-lg.png) left top
		no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	box-shadow: 1px 2px 5px 5px #888888;
}

#skill-set .skill-img-database {
	width: 128px;
	height: 128px;
	box-sizing: border-box;
	background: url(../images/icons/database-scripting-lg.png) left top
		no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	box-shadow: 1px 2px 5px 5px #888888;
}

#skill-set .skill-name {
	margin-top: 20px;
	font-size: 1.8em;
	color: #2A3A3F;
	font-weight: 300;
	text-shadow: 2px 10px 10px #888888;
}

#skill-set .skill-details {
	margin-top: 40px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.3em;
	color: #93a4aa;
}

#contact-info .contact-detail {
	font-family: 'Montserrat', sans-serif;
	width: 280px;
	margin: auto;
	font-size: 1.5em;
}

#contact-info .title {
	margin-bottom: 40px
}

#contact-info #map {
	width: 300px;
	height: 300px;
	margin: auto;
}

#contact-info .contact-detail {
	margin: auto;
}

/* Footer */
.footer {
	background-color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px auto;
}

.footerElement {
	width: 219;
	margin: 0 auto;
	color: #BFE34F;
}

.footerElement span {
	font-size: 1.5em;
	margin-left: 10px;
	font-weight: bolder;
}

.footerElement img {
	height: 32px;
	width: 32px;
	margin: 0px 5px;
}

/* Media Queries */

/* For desktop screen */
@media screen and ( min-width : 900px) {
	[class*="lg"] {
		padding-left: 0px;
		padding-right: 0px;
	}

	/* Header */
	.profile-name {
		position: fixed;
		top: 12px;
		left: 30px;
		display: inline-block;
		color: #BFE34F;
		font-weight: bolder;
		font-size: 18px;
	}
	.navbar {
		width: 350px;
		margin: auto;
	}
	.navbar-custom .navbar-brand {
		display: none;
	}
	.navbar-custom,.navbar-collapse {
		padding-left: 0px
	}
	.social-icon {
		position: fixed;
		top: 5px;
		right: 70px;
		display: inline-block;
	}

	/* Content */
	.container {
		width: 900px;
		margin: 0 auto;
	}
	.top-fading-corner {
		width: 900px;
	}
	.profile-img {
		border-radius: 300px;
		box-shadow: 0px 5px 5px #888888;
	}
	#skill-set .skill-group {
		padding-left: 10px;
		padding-right: 10px;
	}
	#contact-info .contact-detail {
		text-align: left;
		margin-left: 0px;
	}
}

@media screen and ( min-width : 1100px) {
	.container {
		width: 1100px;
		margin: 0 auto;
	}
	#contact-info .contact-detail {
		text-align: left;
		margin-left: 0px;
	}
}
/*For tablet */
@media screen and ( min-width : 768px) and (max-width: 899px) {
	[class*="sm"] {
		padding-left: 0px;
		padding-right: 0px;
	}

	/* Header */
	.profile-name {
		position: fixed;
		top: 12px;
		left: 30px;
		display: inline-block;
		color: #BFE34F;
		font-weight: bolder;
		font-size: 14px;
	}
	.navbar-custom .navbar-brand {
		display: none;
	}
	.navbar-custom,.navbar-collapse {
		padding-left: 0px
	}
	.social-icon {
		position: fixed;
		top: 5px;
		right: 30px;
		display: inline-block;
	}

	/* Content */
	.container {
		width: 800px;
	}
	.top-fading-corner {
		width: 800px;
	}
	.profile-img {
		border-radius: 300px;
		box-shadow: 0px 5px 5px #888888;
	}
	#skill-set .skill-group {
		padding-left: 10px;
		padding-right: 10px;
	}

	/* Contact info */
	#contact-info .contact-detail {
		text-align: left;
		margin-left: 0px;
	}
}

/* For mobile screen */
@media screen and ( min-width : 320px) and (max-width: 767px) {
	/* Header */
	.profile-name {
		display: none;
	}
	.navbar-custom .navbar-brand {
		display: inline;
	}
	.social-icon {
		display: none;
	}

	/* Content */
	.container {
		width: 100%;
	}
	.top-fading-corner {
		display: none;
	}
	.top-fading-corner-rotate {
		display: none;
	}
	.profile-img {
		border-radius: 0px;
		box-shadow: 2px 5px 5px #888888;
	}
	.summary {
		margin-top: 100px;
		margin-left: 10px;
	}
	.summary>.introduction {
		padding-left: 5px
	}
	.split-line {
		margin-left: 5px;
		margin-top: 5px;
	}
	/* Contact info */
	#contact-info .myBtn {
		margin-top: 20px;
	}
	#contact-info #map {
		width: 250px;
		height: 250px;
		margin: auto;
	}
}

@media screen and ( max-width : 319px) {
	/* Header */
	.profile-name {
		display: none;
	}
	.social-icon {
		display: none;
	}
	/* Content */
	.container {
		width: 100%;
	}
	.top-fading-corner {
		display: none;
	}
	.top-fading-corner-rotate {
		display: none;
	}
	.profile-img {
		border-radius: 0px;
		box-shadow: 2px 5px 5px #888888;
	}
	.summary {
		margin-top: 100px;
		margin-left: 10px;
	}
	.summary>.introduction {
		padding-left: 5px
	}
	.split-line {
		margin-left: 5px;
		margin-top: 5px;
	}
	/* Contact info */
	#contact-info .myBtn {
		margin-top: 20px;
	}
	#contact-info #map {
		width: 200px;
		height: 200px;
		margin: auto;
	}
}