<div ng-show="vm.message.length" class="message fadein fadeout">
	<div class="col-xs-12 message-content success">
		Your message sent.<br /> Thank you for reaching out to me
	</div>
</div>
<div ng-show="vm.error.length" ng-model="vm.error" class="message fadein fadeout">
	<div class="col-xs-12 message-content error">
		Sorry! Your message not sent.<br /> Please try again later
	</div>
</div>
<div class="row">
	<div id="contact-info">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center title">
			<h2>Contact Information and Hours</h2>
			<h3>I would love to hear from you. Please take a few minutes to
				tell me about it.</h3>
		</div>
		<div class="col-xs-12 col-sm-1 col-md-2 col-lg-2"></div>
		<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 text-center">
			<div class="contact-detail contact-detail2" style="width: 100%;">
				<h2>Contact Information</h2>
				<br />Tell: <a href="tel:1-647-824-9078">1-647-824-9078</a> <br />Email:
				<a href="#">anhit07@gmail.com</a> <br />Toronto, Ontario, Canada <br />
				<br />Monday - Friday: 9am - 7pm <br />Saturday: 9am - 5pm
				<div id="map" style="margin-top: 30px;"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="messageForm">
			<h2>Send me a message</h2>
			<form name="sendMessage" ng-submit="vm.sendMessage()"
				style="width: 90%; margin: auto;">
				<div class="form-group">
					<label for="name">Name:</label> <input type="text"
						class="form-control" id="name" required="required"
						placeholder="Enter name" ng-model="vm.name">
				</div>
				<div class="form-group">
					<label for="email">Email:</label> <input type="email"
						class="form-control" id="email" required="required"
						placeholder="Enter email" ng-model="vm.email">
				</div>
				<div class="form-group">
					<label for="subject">Subject:</label> <input type="text"
						class="form-control" id="subject" required="required"
						placeholder="Enter subject" ng-model="vm.subject">
				</div>
				<div class="form-group">
					<label for="messageContent">Message:</label>
					<textarea class="form-control" id="messageContent" rows="5"
						required="required" placeholder="Enter message"
						ng-model="vm.messageContent"></textarea>
				</div>
				<div class="form-group" style="text-align: right;">
					<button type="submit" id="sendMessage" class="btn btn-lg myBtn">
						Send</button>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$(window).scrollTop($('#contact-info').offset().top - 70);
	});

	function initMap() {
		var myCenter = new google.maps.LatLng(43.70011, -79.4163);
		var mapCanvas = document.getElementById("map");
		var mapOptions = {
			center : myCenter,
			zoom : 10
		};
		var map = new google.maps.Map(mapCanvas, mapOptions);
		var marker = new google.maps.Marker({
			position : myCenter
		});
		marker.setMap(map);
	}
</script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE1pP7ZNjT2sAM6mte_CrBEXvfUocot6M&callback=initMap">
	
</script>